@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 5px;
}

nav ul {
  display: flex;
}

nav ul a {
  font-family: Poppins;
  font-size: 14px;
}

nav li {
  list-style-type: none;
  margin-right: 15px;
}

.logo img {
  width: 150px;
}

.btn-outlined {
  padding: 10px;
  width: 170px;
  background-color: #fff;
  outline-color: #12B886;
  border-color: #12B886;
  border-width: 0.8px;
  border-radius: 8px;
  color: #12B886;
  font-family: Poppins;
  font-weight: 800;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: transform .2s;
}

.btn-outlined:hover {
  transform: scale(1.1)
}

@media only screen and (max-width: 992px) {
  .btn-outlined {
    width: 100px;
  }

  .logo img {
    width: 100px;
  }

  nav ul a {
    font-size: 12px
  }

}

@media only screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
}


.banner {
  background-color: #C6F3CA;
  height: 400px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.col img {
  width: 500px;
}

.h1 {
  font-family: "Poppins";
  font-weight: 800;
  width: 60%;
  font-size: 35px;
}

.lead {
  font-family: "Poppins";
  margin-top: 20px;
}

.filled-btn {
  background-color: #12B886;
  padding: 15px;
  border: none;
  border-radius: 8px;
  width: 200px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 800;
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: transform .2s;
}

.filled-btn:hover {
  transform: scale(1.1);
}

.col {
  margin-left: 20px;
}

@media only screen and (max-width: 992px) {
  .banner {
    height: auto;
  }

  .row {
    justify-content: center;
  }

  .col img {
    width: 300px;
  }

  .h1 {
    font-size: 28px;
    width: 80%;
  }

  .filled-btn {
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 576px) {
  .row {
    flex-direction: column-reverse;
  }
}

.content-one {
  background-color: rgba(198, 243, 202, 0.4);
  height: 300px;
  margin: 0;

}

.content-one-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.content-one-row img {
  width: 200px;
  height: 200px;
  margin-left: 40px;
}

.content-one-row p {
  width: 80%;
  text-align: center;
}

.h2 {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  padding-top: 10px;
}

.col-3 {
  width: 33%;
}

@media only screen and (max-width: 992px) {
  .content-one {
    height: auto;
  }
}

@media only screen and (max-width: 576px) {
  .content-one-row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }

  .content-one-row img {
    width: 400px;
    margin: 0;
  }

  .content-one-row p {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }
}

.content-three {
  background-color: rgba(198, 243, 202, 0.2);

}

.content-three img {
  width: 500px;
}

.content-three-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.content-three-row p {
  width: 80%;
}

.col-2 {
  width: 40%;
}

@media only screen and (max-width: 992px) {
  .content-three img {
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .content-three img {
    width: 300px;
  }

  .content-three-row {
    flex-direction: column;
  }

  .content-three-row p {
    width: 100%;
    text-align: center;
  }

  .col-2 {
    width: 100%;
  }
}

.content-four-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.content-four-row img {
  width: 600px;
}

.content-four-row p {
  width: 80%;
  margin-left: 20px;
}

.footer {
  background-color: #C6F3CA;
  padding: 10px;
}

.footer p {
  text-align: center;
  font-weight: 800;
}

@media only screen and (max-width: 992px) {
  .content-four-row img {
    width: 400px;
  }
}

@media only screen and (max-width: 576px) {
  .content-four-row {
    flex-direction: column;
  }

  .content-four-row p {
    width: 100%;
    text-align: center;
    margin: 0
  }
}

.container{
  background-color: #fff;
  height: auto;
  margin: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.signup-heading{
  margin-left: 20px;
}
.signup-heading img{
  width: 200px;
}
.signup-heading p{
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 800;
}
.signup-row{
  display: flex;
  margin:20px;
  justify-content: space-between;
}
.signup-row img{
  width: 400px;
  align-self: flex-end;
}
.signup-row p{
  font-size: 32px;
  font-weight: 800;
  font-family: "Poppins";
  width: 65%;
  
}
